[Unit]
Description=Run backup to %i
After=network.target
Wants=backup@%i.timer
Requires=network-online.target

[Service]
Type=oneshot
Environment="HOME=%h"
ExecStart=/opt/root/restic/backups.py \
	backup \
	/opt/root/restic/config-%i-repo.json \
	/opt/root/restic/config-%i-passwd \
	/opt/root/restic/config-source.json

[Install]
WantedBy=multi-user.target
